.col-sm-3
  %h3= painting.name
  %p
    = image_tag painting.image_url(:thumb)
  %p
    = link_to 'Show', painting
    = link_to 'Edit', edit_painting_path(painting)
    = link_to 'Destroy', painting, :data => { confirm: 'Are you sure?' }, :method => :delete
